#======== Neural Network Post Filter activation SEI message =====================
# must follow the format "keyword = xx" exactly
nnpfa_target_id = 1
nnpfa_prompt_update_flag = 1
nnpfa_prompt = Test
nnpfa_num_input_pic_shift = 0
