#======== Neural Network Post Filter characteristics SEI message =====================
# must follow the format "keyword = xx" exactly
nnpfc_num_filters = 1
nnpfc_id_0 = 1
nnpfc_mode_idc_0 = 1
nnpfc_tag_uri_0 = tag:iso.org,2023:15938-17
nnpfc_uri_0 = test
nnpfc_property_present_flag_0 = 1
nnpfc_base_flag_0 = 1
nnpfc_purpose_0 = 2
nnpfc_out_sub_c_flag_0 = 1
nnpfc_component_last_flag_0 = 0
nnpfc_inp_format_idc_0 = 1
nnpfc_inp_tensor_luma_bitdepth_minus8_0 = 2
nnpfc_inp_tensor_chroma_bitdepth_minus8_0 = 2
nnpfc_auxiliary_inp_idc_0 = 1
nnpfc_separate_colour_description_present_flag_0 = 0
nnpfc_full_range_flag_0 = 0
nnpfc_colour_primaries_0 = 9
nnpfc_transfer_characteristics_0 = 16
nnpfc_matrix_coeffs_0 = 14
nnpfc_inp_order_idc_0 = 2
nnpfc_out_format_idc_0 = 1
nnpfc_out_tensor_luma_bitdepth_minus8_0 = 2
nnpfc_out_tensor_chroma_bitdepth_minus8_0 = 2
nnpfc_out_order_idc_0 = 2
nnpfc_constant_patch_size_flag_0 = 1
nnpfc_patch_width_minus1_0 = 127
nnpfc_patch_height_minus1_0 = 127
nnpfc_overlap_0 = 4
nnpfc_padding_type_0 = 1
nnpfc_complexity_info_flag_0 = 1
nnpfc_parameter_type_idc_0 = 1
nnpfc_log2_parameter_bit_length_minus3_0 = 3
nnpfc_num_parameters_idc_0 = 2
nnpfc_num_kmac_operations_idc_0 = 512
nnpfc_for_human_viewing_idc_0 = 3
nnpfc_for_machine_analysis_idc_0 = 2
nnpfc_payload_filename_0 = test.nnr

nnpfc_luma_padding_val_0 = 12
nnpfc_cb_padding_val_0 = 6
nnpfc_cr_padding_val_0 = 6
