##======== Source Picture Timing Information SEI message =====================
SptiSEIPresentFlag = 1
SptiSourceTimingEqualsOutputTimingFlag = 0
SptiSourceType = 0
SptiTimeScale = 27000000
SptiNumUnitsInElementalInterval = 1080000
SptiDirectionFlag = 0